<app-navbar></app-navbar>
<div class="container">
   <section class="admin-modules mt-3">
      <div class="row">
         <div class="col-md-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image"
               width="140" height="140">
            <a class="admin-module-title" routerLink="canchas">Realizar Reserva</a>
         </div>
         <div class="col-md-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image"
               width="140" height="140">
            <a class="admin-module-title" routerLink="mis-reservas">Mis Reservas</a>
         </div>
      </div>
   </section>
</div>